body {
    text-align: center;
    color: white;
    background-color: black;
}

h1 {
    font-size: 3vw;
    color: rgb(250, 17, 133);
    margin-top: 15px;
    margin-bottom: 0px;
}

a,
a:visited {
    color: rgb(65, 128, 221);
    text-decoration: none;
}

.textWrapper {
    margin-left: 18%;
    margin-right: 18%;
}

.subTitle {
    font-size: 1.3vw;
}

#instructions {
    color: rgb(146, 132, 132);
    font-size: 1.2vw;
}